@import '@angular/material/core/theming';

$primary: mat.define-palette(mat.$blue-grey-palette, 700);
$accent: mat.define-palette(mat.$pink-palette, A200);
$theme: mat.define-dark-theme($primary, $accent);

@include mat.all-component-themes($theme);
